* {
    box-sizing: border-box;
  }
  
    body {
    margin: 0;
    min-width: 100%;
    font-family: 'Amatic SC', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
  }

  .back {
    background-color: #858374;
    font-size: 11px;
    text-align: center;
    color: white;
    height: 27px;
    line-height:27px; 
  }

  .back .info {
    display: inline-block;
    vertical-align: middle;
    line-height:normal 
   }
 
  .header {
      height: 60px;
  }

  .logo {
    margin-left: 30px;
    margin-right: 10px;
    vertical-align: middle;
  }

  a {
    line-height: 60px;
    list-style: none;
    text-decoration: none;
    color: #887874;
    font-size: 17px;
  }

  .menu {
    float: right;
    list-style: none;
    text-decoration: none;
    margin-right: 30px;
    margin-top: 0;
    margin-bottom: 0;

  }

  .menu li {
    float: left;
    padding: 0;
    margin: 0;
    margin-left: 50px;
  }
  .menu li a{
    font-size: 13px;
    margin-left: 30px;
    text-decoration: none;
    color: transparent;
    line-height: 60px;
  }


  #logo img {
    vertical-align: middle;
  }
  
  a{
    line-height: 60px;
  }
  
  .hero-header {
    text-align: center;
    background-image: url("./images/jeju.JPG");
    background-size: cover;
    background-position: center center;
    height: 800px;
    line-height:800px; 
  }


  .hero-header .info {
    width: 100%;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
    line-height:normal 
  }

 
 .hero-header .info h1 {
   font-size: 36px;
   margin: 0;
   margin-bottom: 13px;
   color: white;
   font-weight: 400;
 }
 
 .hero-header .info h2 {
   font-size: 23px;
   margin: 0;
   margin-bottom: 60px;
   color: white;
   font-weight: 400;
 }
 
 .hero-header .info a {
   font-size: 14px;
   background-color: white;
   color: #858374;
   padding: 10px 40px;
   text-decoration: none;
   border-radius: 5px;
 }

 .footer {
  text-align: center;
  background-color:wheat
 }


/* self-introduction 주석 */
  
  .backgroundcolor {
    text-align: center;
    background-color: #e5bd8f1f;
    background-size: cover;
    background-position: center center;
  }

  .self {
    height:300px;
  }

  .s-film {
    padding-top: 65px;
  }

  .self1 {
    width: 150px;
    height: 150px;
  }

  .self2 {
    width: 150px;
    height: 150px;
  }

  .self3 {
    width: 150px;
    height: 150px;
  }

  .s-info {
  font-family: 'Amatic SC', cursive;
  font-family: 'Cookie', cursive;
  font-family: 'Domine', serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Shadows Into Light', cursive;
  color: rgba(143, 47, 18, 0.849);
  width: 100%;
  height: 400px;
  display: inline-block;
  vertical-align: middle;
  line-height:normal
  }

  .s-info .p1 {
    font-size: 17px;
  }

  .s-info .p2{
    font-size:10px;
  }
/* like 주석 */

.film-back{
  background-color: #f8f8f5;
}
.film {
  background-color: white;
  width: 645px;
  /* width: 660px; 묶음 단위의 길이를 나타날 때는, 사진의 크기 뿐만 아니라 그 옆의 margin 크기까지 고려해야함 */
  margin: auto;
  padding-right: 0;
}

@media (min-width: 790px) {
  body {
    margin: 0;
    min-width: 100%;
    font-family: 'Amatic SC', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
  }

  .back {
    background-color: #858374;
    font-size: 11px;
    text-align: center;
    color: white;
    height: 27px;
    line-height:27px; 
  }

  .back .info {
    display: inline-block;
    vertical-align: middle;
    line-height:normal 
   }
 
  .header {
      height: 60px;
  }

  .logo {
    margin-left: 30px;
    margin-right: 10px;
    vertical-align: middle;
  }

  a {
    line-height: 60px;
    list-style: none;
    text-decoration: none;
    color: #887874;
    font-size: 17px;
  }

  .menu {
    float: right;
    list-style: none;
    text-decoration: none;
    margin-right: 30px;
    margin-top: 0;
    margin-bottom: 0;

  }

  .menu li {
    float: left;
    padding: 0;
    margin: 0;
    margin-left: 50px;
  }
  .menu li a{
    font-size: 13px;
    margin-left: 30px;
    text-decoration: none;
    color: #887874;
    line-height: 60px;
  }


  #logo img {
    vertical-align: middle;
  }
  
  a{
    line-height: 60px;
  }
  
  .hero-header {
    text-align: center;
    background-image: url("./images/jeju.JPG");
    background-size: cover;
    background-position: center center;
    height: 800px;
    line-height:800px; 
  }


  .hero-header .info {
    width: 100%;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
    line-height:normal 
  }

 
 .hero-header .info h1 {
   font-size: 36px;
   margin: 0;
   margin-bottom: 13px;
   color: white;
   font-weight: 400;
 }
 
 .hero-header .info h2 {
   font-size: 23px;
   margin: 0;
   margin-bottom: 60px;
   color: white;
   font-weight: 400;
 }
 
 .hero-header .info a {
   font-size: 14px;
   background-color: white;
   color: #858374;
   padding: 10px 40px;
   text-decoration: none;
   border-radius: 5px;
 }

 .footer {
  text-align: center;
  background-color:wheat
 }


/* self-introduction 주석 */
  
  .backgroundcolor {
    text-align: center;
    background-color: #e5bd8f1f;
    background-size: cover;
    background-position: center center;
  }

  .self {
    height:300px;
  }

  .s-film {
    padding-top: 65px;
  }

  .self1 {
    width: 250px;
    height: 250px;
  }

  .self2 {
    width: 250px;
    height: 250px;
  }

  .self3 {
    width: 250px;
    height: 250px;
  }

  .s-info {
  font-family: 'Amatic SC', cursive;
  font-family: 'Cookie', cursive;
  font-family: 'Domine', serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Shadows Into Light', cursive;
  color: rgba(143, 47, 18, 0.849);
  width: 100%;
  height: 400px;
  margin-top: 20px;
  display: inline-block;
  vertical-align: middle;
  line-height:normal
  }

  .s-info .p1 {
    font-size: 25px;
  }

  .s-info .p2{
    font-size:15px;
  }
/* like 주석 */

.film-back{
  background-color: #f8f8f5;
}
.film {
  background-color: white;
  width: 645px;
  /* width: 660px; 묶음 단위의 길이를 나타날 때는, 사진의 크기 뿐만 아니라 그 옆의 margin 크기까지 고려해야함 */
  margin: auto;
  padding-right: 0;
}
}
